body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-rows: 20% auto;
}

@media (min-width: 768px) {
    body {
        grid-template-rows: 30% auto;
    }
}

html {
    font-family: Helvetica;
    color: white;
    background-color: #000000;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 4rem;
}

p {
    margin: 0;
}